<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" routerLinkActive="active">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/dash">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/list-emp">Employees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/admin">Admin edit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="#">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
